/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* fonts */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav bar */

.navbar{
   
    /* background-color: rgb(215, 250, 226); */
    justify-content: space-between;
  align-items: center;

}
.nav-title{
    font-size: 3rem;
    font-weight: bold;

}
nav > ul > li > a{
    text-decoration: none;  
    color: #424242;
    font-size: 18px;
}
.nav-pannel{
    list-style-type: none;
    
    gap: 20px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav bar */



/* shared item */


main > section{
    margin-top: 130px;
}


.dark01{
    color: #131313 ;
}
.dark02{
    color: #424242;
}
.dark03
{
    color: #727272;
}

.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}




/* shared item */

/* buttons */


.banner-button{
    background-color: #FF900E;
    color: white;
    font-size: 1.29rems;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    margin: 25px 0px;

}
.feature-button{
     background-color: #FF900E;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;


    
}


.experience-button{
     background-color: #FF900E;
    color: white;
    font-weight: 500;
    font-size: 1.7rem;
     border: none;
    border-radius: 8px;
     width: 342px;
    height: 200px;
    padding: 45px;
    text-align: center;
    margin-left: -92px;
    margin-top: -72px;
    


}
#exp-year{
    font-size:4.1rem;
    color: white;
    font-weight: bold;
}





/* buttons */


/* banner part header */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313 ;
}
.banner-description{
    font-size: 16px;
    color: #727272;
}

.banner-image{
    
    width: 100%; 
    margin: 0 auto;
    margin-bottom: 45px;
}






/* banner part header */


/* feature part */

.feature{
    
    gap: 75px;
    align-items: center;

    padding: 0 1.9rem;

}
.feature-content{

   
    

}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 125px;
    border-radius: 8px;
}
.feature-title{
    font-size: 2.81rem;
}
.feature-description{
    font-size: 1rem;
    color: #727272;
    text-align: justify;
}



.ql-color{
    font-weight: 500;
    color: #727272 ;
}
.oo-color{
    color: #131313;
    font-weight: bold;

}
.f-color{
    font-weight: bold;
    color: #FF900E;
}



/* feature part ends */


/* fact box parts */

.facts-title{
    font-size: 2.82rem;
   font-weight: bold;
   color: #131313;

}
.facts-description{
    color: #727272;
    text-align: left;

}



.facts-box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 242px;
    width: 242px;
    text-align: center;
    align-items: center;
    justify-content: center;

   
}



.facts-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.facts-box-title{
    font-size: 2.82rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}
.facts-box-description{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
    margin-bottom: 15px;

}

/* sponsor content */

.sponsor-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.sponsor-title{
    font-size: 2.83rem;
    font-weight: bold;
    color: #131313;
    
}
.sponsor-image{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 155px ;
    margin-top: 50px;
}
  


.sponsor-image img{
    filter: grayscale(100%);
}
/* sponsor end */


/* experience section start */


.experience{
    gap: 140px;
    align-items: center;
}

.experience-title{
font-size: 2.82rem ;
font-weight: bold;
color: #131313;
border-left: 5px solid #FF900E;
padding-left: 20px;
}
.experience-description{
    /* width: 586px ;
    height: 78px; */
}

.experience-card{
   
    
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;

}
.card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #131313;
    margin: 10px 0;
}
.card-description{
    font-size: 1.2rem;
    color: #727272;
    text-align: left ;
    margin: 10px 0;
}


/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    background-color: #FFF4E7;
    width: 1440px;
    height: 100px;
    border: none;
    border-radius: 7px;
    margin-top: 130px;
    font-size: 2rem;
    margin-bottom: 120px;
    padding-top: 50px;
}








/* responsive */

@media screen and (max-width:576px) {

    .navbar, .experience{
        flex-direction: column;

    }
    .nav-pannel{
        flex-direction: column;
    }

    .feature-image,.sponsor-image{
        grid-template-columns: repeat(1,1fr);
    }
    .feature{
        flex-direction: column;
    }
    .facts-card{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-content: center;
        padding: 80px;
        align-items: center;
        margin-top: 50px;
       
        
    }
    .experience-image{
        width: 100%;
    }
    .experience-button{
        margin: 0 auto;
       
    }
    .footer{
        width: 100%;
        padding-top: 0;
    }
    .sponsor-image{
        gap: 100px;
        margin-left: 100px;
    }


    
}

@media screen and (min-width:576px) and (max-width:992px)  {

    .feature-image{
        gap: 30px;
    }
    .facts-card{
        grid-template-columns: repeat(2,1fr);
    }
    .sponsor-image{
        grid-template-columns: repeat(2,1fr);
        margin-left: 40px;
    }

     
}

