/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* fonts */

main{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav bar */

.navbar{
   
    /* background-color: rgb(215, 250, 226); */
    justify-content: space-between;
  align-items: center;

}
.nav-title{
    font-size: 3rem;
    font-weight: bold;

}
nav > ul > li > a{
    text-decoration: none;  
    color: #424242;
    font-size: 18px;
}
.nav-pannel{
    list-style-type: none;
    
    gap: 20px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* nav bar */



/* shared item */
.dark01{
    color: #131313 ;
}
.dark02{
    color: #424242;
}

.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}




/* shared item */

/* buttons */


.banner-button{
    background-color: #FF900E;
    color: white;
    font-size: 1.29rems;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    margin: 25px 0px;

}
.feature-button{
     background-color: #FF900E;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;


    
}
/* buttons */


/* banner part header */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313 ;
}
.banner-description{
    font-size: 16px;
    color: #727272;
}

.banner-image{
    
    width: 100%; 
    margin: 0 auto;
    margin-bottom: 45px;
}






/* banner part header */


/* feature part */

.feature{
    

    margin-top: 85px;
 
    gap: 75px;
    align-items: center;

}
.feature-content{
    
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.7rem;
    border-radius: 8px;
}
.feature-title{
    font-size: 2.81rem;
}
.feature-description{
    font-size: 1rem;
    color: #727272;
    text-align: justify;
}



.ql-color{
    font-weight: 500;
    color: #727272 ;
}
.oo-color{
    color: #131313;
    font-weight: bold;

}
.f-color{
    font-weight: bold;
    color: #FF900E;
}



/* feature part */














/* responsive */

@media screen and (max-width:576px) {

    .navbar{
        flex-direction: column;

    }
    .nav-pannel{
        flex-direction: column;
    }

    .feature-image{
        grid-template-columns: repeat(1,1fr);
    }
    .feature{
        flex-direction: column;
    }


    
}

